.header {
  background-color: black;
  padding: 1.5em;
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
}

.footer {
  background-color: darkslategray;
  padding: 1.5em;
  font-size: 1.2;
  text-align: center;
  color: antiquewhite;
}

.user-card {
  padding: 1.5rem;
  border: 1px solid grey;
  border-radius: 10px;
} 